@model List<Fatec.Models.Pessoa>

<h2>Todas as Pessoas</h2>
<p><a asp-action="Cadastro" class="btn btn-info">Adicionar pessoa</a></p>

<table class="table table-hover">
    <thead>
        <tr>
            <th><strong>Nome</strong></th>
            <th><strong>E-mail</strong></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Cadastro" asp-route-id="@item.Id">@item.Nome</a>
                </td>
                <td>
                    @item.Email
                </td>
            </tr>
        }
    </tbody>
</table>